/* font-family: 'Alfa Slab One', cursive */

.text-center{
    background-color: #aaa;
    position: relative;
    width: 100%;
    margin-top: 15px;
}

h1, h2 {
    font-family: 'Alfa Slab One', cursive;
}

.hero {
    background: url(../img/header.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;
}

.textos{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}